body {
    background-color: #1F2937;
    font-family: 'Roboto';
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

h2 {
    font-size: 18px;
    font-weight: 200;
    color: #E5E7EB;
    margin: 0;
}

/* navbar styles */
.navbar {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    height: 150px;
}

.item {
    color: #F9FAF8;
    flex: 1;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 16px;
    font-weight: 100;
    flex: 1;
}

.item.logo {
    font-weight: bold;
    margin-left: 0;
    margin-right: auto;
}

.spacer {
    flex-grow: 0;
    flex-basis: 10vw;
}

/* Hero Content Styles */

.hero {
    display: flex;
    flex-direction: row;
    color:  #F9FAF8;
    align-items: stretch;
    gap: 50px;
    padding-bottom: 30px;
}

.hero.col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    border-color: #a2d052;
    gap: 0px;
}

.hero.col1.item {
    flex: 1;
    border: 10px solid #00A4BD;
}

.hero.col2 {
    background-color: grey;
    flex: 1;
    height: 300px;

}

.btn-sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    border: none;
    margin: 0;
}

.placeholder-txt {
    margin: auto;
}

/* Random Section Content Styles */

.information {
    background-color:#F9FAF8;
    padding-top: 20px;
}

.random {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.alt {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 50px
}

.element {
    flex: 1;
    max-width: 150px;
    text-align: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 20px;

}